# Envs
.env
infra/.env

# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/

# Node
apps/console/node_modules/
apps/console/dist/
apps/console-demo/node_modules/
apps/console-demo/dist/
node_modules/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

